# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/

# Data
raw_data/
cleaned_data/

# Airflow
airflow.db
logs/

# DBT
target/
dbt_modules/
logs/

# Environment
.env
.DS_Store
dbt_stock_pipeline/target/
dbt_stock_pipeline/dbt_packages/
dbt_stock_pipeline/logs/

airflow/airflow.db
airflow/logs/
airflow/webserver_config.py
